#root {
  margin: 0;
  text-align: center;
  width: 100%;
  font-family: "Silom", sans-serif;
}

/* Navbar */

.navbar-main {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  background-color: #20ee00;
  width: 100%;
  align-items: center;
}

.navbar-left,
.navbar-right {
  margin: 20px;
}

.navbar-left h3 {
  font-weight: 800;
  color: black;
  margin: 0;
  font-size: 48px;
}

.navbar-right {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 40px;
}

.navbar-right a {
  text-decoration: none;
  cursor: pointer;
  font-size: 24px;
  font-weight: 700;
  color: black;
}

.navbar-right a span {
  color: #0434a3;
  font-size: 28px;
}

.profile-container {
  width: 100px;
  max-width: 100px;
  padding-top: 100px;
  position: relative;
}

.user-img {
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

/* Login Screen & Sign Up Screens */
.login-screen h1,
.signup-screen h1 {
  margin: 20px;
}

.login-screen span {
  color: #20ee00;
}

.login-screen p span,
.signup-screen p span {
  cursor: pointer;
  font-weight: 700;
  color: #20ee00;
}

.login-form,
.signup-screen {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  color: black;
  background-color: gray;
}

.signup-screen {
  margin-top: 20px;
  width: 75%;
}

.error-message {
  display: block;
  color: rgb(251, 251, 251);
  background-color: rgb(103, 0, 0);
}

.login-form form,
#create-new-user-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.login-form label,
#create-new-user-form label {
  font-size: 24px;
}

.login-form form input,
#create-new-user-form input {
  background-color: white;
  color: black;
  font-size: 24px;
  font-family: "Silom", sans-serif;
  margin-bottom: 20px;
  text-align: center;
  align-self: center;
}

#create-new-user-form input {
  width: 50%;
}

.login-form form input[type="submit"],
#create-new-user-form input[type="submit"] {
  background-color: #20ee00;
  border-radius: 8px;
  border: 3px solid black;
}

.picture-options {
  display: flex;
}

.picture-options img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.picture-option {
  display: block;
  position: relative;
  padding: 5px;
  cursor: pointer;
  margin: 10px 0;
}

.picture-option input[type="radio"] {
  display: none;
}

.picture-option .radio-label {
  display: flex;
  padding: 5px 5px;
  border-radius: 50%;
  transition: all 0.3s;
}

.picture-option input[type="radio"]:checked + .radio-label {
  background-color: #5eff00;
  color: #fff;
  border-color: #028400;
}

/*Phrase Selection Screen */
.phrase-selection {
  position: relative;
}

.phrase-levels {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.level-block {
  background-color: #5eff00;
  border: 5px solid gray;
  padding: 20px;
  margin: 20px;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  position: relative;
}

.level-block h3 {
  margin: auto;
  color: black;
  font-size: 64px;
  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
}

.level-block:hover {
  background-color: #028400;
}

.level-block:hover h3 {
  color: white;
}

/* Phrase / Tutorial Modals */
.tutorial-modal,
.phrase-modal-main {
  position: absolute;
  background-color: grey;
  padding: 20px;
  width: 80%;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  animation: flicker-on 0.2s forwards;
  z-index: 1;
}

.tutorial-modal {
  flex-direction: column;
  width: 90%;
}

.tutorial-modal {
  top: 20%;
}

@keyframes flicker-on {
  0% {
    transform: scale(1, 0.1);
    filter: brightness(1.5);
  }

  33% {
    transform: scale(1, 0.5);
    filter: brightness(2);
  }

  66% {
    transform: scale(1, 0.75);
    filter: brightness(1.5);
  }

  100% {
    transform: scale(1, 1);
    filter: brightness(1);
  }
}
.phrase-modal-left > h1:first-of-type,
.phrase-modal-left h2 {
  margin-bottom: 0;
  color: #20ee00;
}

.phrase-modal-scores {
  display: flex;
  justify-content: space-between;
}

.incomplete {
  color: rgb(103, 0, 0);
}

.phrase-modal-left {
  padding: 20px;
  width: 50%;
}

.phrase-modal-right {
  padding: 20px;
  background-color: white;
  color: black;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.top-5-scorer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightgray;
}

.top-5-scorer h1,
.top-5-scorer h3 {
  margin: 0px;
}

.user-in-top-5 {
  color: white;
  background-color: #028400;
}

.top-5-image {
  position: relative;
  height: 50px;
  width: 50px;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
}

.buttons button:hover {
  background-color: #20ee00;
  color: black;
}

/* Game Screen */
.game-screen {
  width: 100%;
  position: relative;
}

.game-screen form {
  position: relative;
  display: flex;
  flex-direction: column;
  top: 150px;
}

.game-screen h1 {
  font-size: 7vw;
  font-family: "Silom", sans-serif;
  margin: 0 75px;
  text-align: left;
  width: 90%;
}
.player-input-box {
  position: relative;
  z-index: -100;
}

.player-input-background {
    background-color: rgb(51, 51, 51);
    height: 25vh;
    position: absolute;
    width: 90vw;
    margin: 0 10vh;
    z-index: -10;
}

.player-input-box input {
  color: transparent;
  background: transparent;
  border: transparent;
  position:absolute;
  top:200%;
  right:200%;
}

.player-input-box :focus {
  border:transparent;
  color:transparent;
  background-color: transparent;;
}

.player-input-box span {
  color: red;
  margin: 0;
}

/* .game-screen input:focus {
  text-align: left;
} */
